certifi==2019.6.16
chardet==3.0.4
cryptocompy==0.1.1.dev1
cycler==0.10.0
idna==2.8
joblib==1.2.0
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==3.1.1
numpy==1.17.0
pandas==0.25.0
poloniexapi==0.5.7
pyaes==1.6.1
pyasn1==0.4.6
pycoingecko==0.3.0
pymongo==3.8.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytrends==4.6.0
pytz==2019.2
requests==2.22.0
rsa==4.0
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
style==1.1.0
TA-Lib==0.4.17
Telethon==1.9.0
urllib3==1.25.3
websocket-client==0.56.0
